.footer {
    height: 200px;

    border: 1px solid black;
}

.footer .button {
    border: 2px dashed #324376 ;
    border-radius: 8px;
    background-color: #faf6f7;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 5px #000;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 17px;
}

/*
.footer .button {
    border: none;
    padding: 10px;
    background-color: #324376;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px #999;
    margin-left: 30px;
    margin-top: 30px;
}
*/

.footer .button:hover {
    border: 2px solid #7c5e99;
    background-color: #7c5e99; /* #7c5e99 #666 #999 */
}

.footer .button:active {
    border: 2px dashed #324376;
    background-color: #324376;    
  box-shadow: 0 5px #313131;
  transform: translateY(4px);
}