.footer-navigation {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 5% 0;
}

.footer-navigation .header-list.-second {
    margin-left: 0;    
}

.footer-navigation .header-list-itens.-second {
    color: white;
}
