.header-list { /* ul */
    display: inline-block;    
    text-align: left; 
    margin-left: 10%;
}

.header-list .header-list-itens {
    font-size: 20px;
    margin-bottom: 2%;
    padding: 0 10px;
}

.header-list .header-list-itens.-color {
    color: white;
}

.header-list .links.-color {
    color: white;
}