.list { /* ul */
    display: inline-block;    
    text-align: left; 
    margin-left: 10%;
}

.list .list-itens {
    font-size: 20px;
    margin-bottom: 2%;
    padding: 0 10px;
}

.list .list-itens.-color {
    color: white;
}

.list .links.-color {
    color: white;
}