.main_lists_itens {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2%;
    list-style: url('../../assets/images/diplominha.png');   
    
}

/* list-style: url('../../assets/images/diploma.png');   */
  
