.main-list {
    display:flex;
    margin-bottom: 20px;
}

.main-list .main-list-itens {
    font-size: 17px;
}

.main-list .progress-bar.-second {
    width: 30px;
    height: 15px;
    margin-right: 10px;
    margin-top: 4px;
    
    border: 2px solid black;
}

.main-list.-second {
    display: block;
}

.main-list.-second .subtitleh3.-second{
    color: #324376; /* #324376 */ 
    font-size: 22px;
    margin-bottom: 5px;    
}

.main-list .subtitleh4 {
    margin-bottom: 5px;
}

.main-list .paragraphs {
    margin-bottom: 5px;
}

.main-list .paragraphs.-second {
    line-height: 25px;
    
}