.main-list {
    display:flex;
    margin-bottom: 20px;
}

.main-list .main-list-itens {
    font-size: 17;
}

.main-list .progress-bar.-second {
    width: 30px;
    height: 15px;
    margin-right: 10px;
    margin-top: 4px;
    
    border: 2px solid black;
}
