.progress-bar {
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid black;
    height: 20px;    
}

.progress-bar::-moz-progress-bar,
.progress-bar::-webkit-progress-bar {
    background-color: #7c5e99;
}
