.sections {
    border: 2px dashed #324376;
    margin: 20px 0;
    padding: 20px;
    min-height: 188px;
}

.sections .subtitle { /* alterou em todos os subtitles do documento */ 
    margin-bottom: 20px;
}