.subtitle {
    color: #324376; /*#324376;*/
    font-family: 'Source Serif Pro', serif;    
}

.subtitle.-skills {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}
