.wrapper-skills {
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    
    max-width: 500px;
    margin-left: auto;   
    margin-right: auto;


}

.wrapper-skills .skills-box:nth-child(odd) {
    margin-right: 44px;    
}

.wrapper-skills .skills-box {
    width: 210px;
    margin-bottom: 20px;
}

